@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
li{list-style:none;}
a,u,s{text-decoration:none;}



/*溢出隐藏出现省略号*/
.over{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*让图片垂直对齐方式*/
.valign{text-align:center;}
.valign:after{content:"";display:inline-block;width:0;height:100%;
vertical-align:middle;}/*给valign添加个子元素对齐图片*/
.valign img{vertical-align:middle;}

/*万能清除浮动法*/
.clear{zoom:1;}
.clear:after{content:"";clear:both;display:block;}
















































